@using WebPingzor.Data.Models
@inject WebPingzor.Data.PingzorDbProvider dbProvider


<h1>Welcome to monitoring</h1>

@if (monitors == null)
{
  <p>Loading...</p>
}
else
{
  <div>
  Total monitors: @monitors.Count
</div>
}


@code {
  record MonitorItem(string Name, string Url, int Interval);

  private List<MonitorItem>? monitors;
  protected async override Task OnInitializedAsync()
  {
    using var db = dbProvider.Create();

    this.monitors = await db.HttpMonitors
    .Select(m => new MonitorItem(m.Name, m.Url, m.Interval))
    .ToListAsync();

  }
}