@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Pingzor | Home</PageTitle>

<Title>Hello!</Title>

<AuthorizeView>
  <Authorized>
    <p>Welcome, @context.User.Identity?.Name!</p>
  </Authorized>
  <NotAuthorized>
    <p>You're not authenticated.</p>
  </NotAuthorized>
</AuthorizeView>
