@page "/counters"
@rendermode InteractiveServer


<h1>Hello, Counters !</h1>

Welcome to your new app.


@code {
  protected override void OnInitialized()
  {
    Console.WriteLine("CountersPage.OnInitialized");
  }
}